@font-face {
  font-family: "StratosSkyeng";
  src: url("./fonts/Webfonts/stratosskyengweb-regular.woff");
}
* {
  margin: 0;
  padding: 0;
}

.start-game-field {
  height: 100vh;
  background-color: #004980;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-field {
  height: 100vh;
  width: 100vw;
  background-color: #004980;
  z-index: 1;
  position: relative;
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 100;
  position: absolute;
  background-color: rgba(0, 73, 128, 0.8);
}

.start-box {
  margin: 50px;
  width: 480px;
  height: 459px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #c2f5ff;
}

.start-box--text {
  font-family: "StratosSkyeng";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #004980;
  width: 208px;
}

.start-box--difficult {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.start-box--difficultLevel {
  width: 98px;
  height: 98px;
  border-radius: 12px;
  color: #0080c1;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-box--difficultValue {
  font-family: "StratosSkyeng";
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: center;
  color: #0080c1;
  background-color: white;
  width: 98px;
  height: 98px;
  border-radius: 12px;
  border-color: white;
}

.color {
  font-family: "StratosSkyeng";
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  color: #0080c1;
  background-color: #7ac100;
  width: 98px;
  height: 98px;
  border-radius: 12px;
  border-color: white;
}

.start-box--button {
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  width: 246px;
  height: 50px;
  border-radius: 12px;
  border-color: #7ac100;
  background-color: #7ac100;
  color: white;
}

.heder {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  align-items: flex-end;
}

.heder-time-box {
  width: 155px;
  height: 92px;
}

.heder-time--text {
  font-family: "StratosSkyeng";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.heder-time {
  font-family: "StratosSkyeng";
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

.new_Game-button {
  width: 246px;
  height: 50px;
  border-radius: 12px;
  font-family: "StratosSkyeng";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 12px;
  border-color: #7ac100;
  background-color: #7ac100;
  color: white;
}

.card-forView {
  display: grid;
  grid-template-columns: repeat(9, 106px);
  justify-items: end;
  justify-content: center;
}

.displayNone {
  display: none;
}

.card {
  width: 95px;
  height: 133px;
  margin: 6px;
  border-radius: 4px;
  background-color: #c2f5ff;
  position: relative;
  z-index: 999;
  background-image: url("./img/mask.svg");
}

.img {
  position: relative;
  z-index: -999;
}

.card-open {
  width: 95px;
  height: 133px;
  border-radius: 4px;
  background: #fff;
  margin: 4px;
  display: grid;
  grid-template-columns: repeat(5, 19px);
  grid-template-rows: repeat(7, 17.4px);
}

.card-heder {
  width: 11px;
  height: 21px;
  padding: 4px;
}

.card-heder--iconBubn {
  grid-row-start: 2;
  grid-column-start: 1;
  background: no-repeat;
  background-image: url("./img/small_Bubn.svg");
  margin-left: 5px;
  margin-top: 4px;
}

.card-middle--iconBubn {
  width: 29px;
  height: 25px;
  background: no-repeat;
  background-image: url("./img/Union_Bubn.svg");
  grid-row-start: 4;
  grid-column-start: 3;
  text-align: center;
}

.card-down {
  width: 11px;
  height: 21px;
  padding: 4px;
  grid-row-start: 7;
  grid-column-start: 5;
  text-align: end;
  transform: rotate(180deg);
}

.card-down--iconBubn {
  margin-left: 5px;
  margin-bottom: 4px;
  background: no-repeat;
  background-image: url("./img/small_Bubn.svg");
  grid-row-start: 7;
  grid-column-start: 5;
}

.card-heder--iconPiki {
  grid-row-start: 2;
  grid-column-start: 1;
  background: no-repeat;
  background-image: url("./img/small_Piki.svg");
  margin-left: 5px;
  margin-top: 4px;
}

.card-middle--iconPiki {
  width: 29px;
  height: 25px;
  background: no-repeat;
  background-image: url("./img/Union_Piki.svg");
  grid-row-start: 4;
  grid-column-start: 3;
  text-align: center;
}

.card-down--iconPiki {
  margin-left: 5px;
  margin-bottom: 4px;
  background: no-repeat;
  background-image: url("./img/small_Piki.svg");
  grid-row-start: 7;
  grid-column-start: 5;
}

.card-heder--iconCherv {
  grid-row-start: 2;
  grid-column-start: 1;
  background: no-repeat;
  background-image: url("./img/small_Cherv.svg");
  margin-left: 5px;
  margin-top: 4px;
}

.card-middle--iconCherv {
  width: 29px;
  height: 25px;
  background: no-repeat;
  background-image: url("./img/Union_Cherv.svg");
  grid-row-start: 4;
  grid-column-start: 3;
  text-align: center;
}

.card-down--iconCherv {
  margin-left: 5px;
  margin-bottom: 4px;
  background: no-repeat;
  background-image: url("./img/small_Cherv.svg");
  grid-row-start: 7;
  grid-column-start: 5;
}

.card-heder--iconKrest {
  grid-row-start: 2;
  grid-column-start: 1;
  background: no-repeat;
  background-image: url("./img/small_Krest.svg");
  margin-left: 5px;
  margin-top: 4px;
}

.card-middle--iconKrest {
  width: 29px;
  height: 25px;
  background: no-repeat;
  background-image: url("./img/Union_Krest.svg");
  grid-row-start: 4;
  grid-column-start: 3;
  text-align: center;
}

.card-down--iconKrest {
  margin-left: 5px;
  margin-bottom: 4px;
  background: no-repeat;
  background-image: url("./img/small_Krest.svg");
  grid-row-start: 7;
  grid-column-start: 5;
}

.finish-box--text {
  color: var(--blue-120, #004980);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.finish-box--time {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.finish-box--timeText {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.finish-box--img__celebr {
  width: 96px;
  height: 96px;
  position: relative;
  z-index: 999;
  background: url("./img/celebration.png");
}

.finish-box--img__dead {
  width: 96px;
  height: 96px;
  position: relative;
  z-index: 999;
  background: url("./img/dead.png");
}

.finish-box--timer {
  color: #000;
  font-family: "StratosSkyeng";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.finish-game-field {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finish-box--button {
  font-family: "StratosSkyeng";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  width: 246px;
  height: 50px;
  border-radius: 12px;
  border-color: #7ac100;
  background-color: #7ac100;
  color: white;
}/*# sourceMappingURL=style.css.map */