@font-face {
  font-family: "StratosSkyeng";
  src: url("./fonts/Webfonts/stratosskyengweb-regular.woff");
}
* {
  margin: 0;
  padding: 0;
}

.start-game-field {
  margin: 0px;
  height: 900px;
  background-color: #004980;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-field {
  margin: 0px;
  height: 774px;
  width: 1024px;
  background-color: #004980;
}

.start-box {
  margin-top: 158px;
  margin: 50px;
  width: 480px;
  height: 459px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightblue;
}

.start-box--text {
  font-family: StratosSkyeng;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #004980;
  width: 208px;
}

.start-box--difficult {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.start-box--difficultLevel {
  display: block;
  width: 98px;
  height: 98px;
  border-radius: 12px;
  color: #0080c1;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-box--difficultValue {
  font-family: StratosSkyeng;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: center;
  color: #0080c1;
  background-color: white;
  width: 98px;
  height: 98px;
  border-radius: 12px;
  border-color: white;
}

.color {
  font-family: StratosSkyeng;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: center;
  color: #0080c1;
  background-color: #7ac100;
  width: 98px;
  height: 98px;
  border-radius: 12px;
  border-color: white;
}

.start-box--button {
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  width: 246px;
  height: 50px;
  border-radius: 12px;
  border-color: #7ac100;
  background-color: #7ac100;
  color: white;
}

.heder {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  align-items: flex-end;
}

.heder-time-box {
  width: 155px;
  height: 92px;
}

.heder-time--text {
  font-family: StratosSkyeng;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.heder-time {
  font-family: StratosSkyeng;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.new_Game-button {
  width: 246px;
  height: 50px;
  border-radius: 12px;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 12px;
  border-color: #7ac100;
  background-color: #7ac100;
  color: white;
}

.card-close {
  display: grid;
  grid-template-columns: repeat(9, 106px);
  justify-items: end;
  justify-content: center;
}

.card {
  width: 95px;
  height: 133px;
  margin: 6px;
  border-radius: 4px;
  background-color: #c2f5ff;
  background-image: url("./img/card.png");
}

.card-open {
  width: 95px;
  height: 133px;
  border-radius: 4px;
  background: #fff;
  margin: 4px;
  display: grid;
  grid-template-columns: repeat(5, 19px);
  grid-template-rows: repeat(7, 17.4px);
}

.card-heder {
  display: flex;
  width: 11px;
  height: 21px;
  padding: 4px;
}

.card-heder--iconBubn {
  grid-row-start: 2;
  grid-column-start: 1;
  background: no-repeat;
  background-image: url("./img/small_Bubn.svg");
  margin-left: 5px;
  margin-top: 4px;
}

.card-middle--iconBubn {
  width: 29px;
  height: 25px;
  background: no-repeat;
  background-image: url("./img/Union_Bubn.svg");
  grid-row-start: 4;
  grid-column-start: 3;
  text-align: center;
}

.card-down {
  width: 11px;
  height: 21px;
  padding: 4px;
  grid-row-start: 7;
  grid-column-start: 5;
  text-align: end;
  transform: rotate(180deg);
  padding: 4px;
}

.card-down--iconBubn {
  margin-left: 5px;
  margin-bottom: 4px;
  background: no-repeat;
  background-image: url("./img/small_Bubn.svg");
  grid-row-start: 7;
  grid-column-start: 5;
}

.card-heder--iconPiki {
  grid-row-start: 2;
  grid-column-start: 1;
  background: no-repeat;
  background-image: url("./img/small_Piki.svg");
  margin-left: 5px;
  margin-top: 4px;
}

.card-middle--iconPiki {
  width: 29px;
  height: 25px;
  background: no-repeat;
  background-image: url("./img/Union_Piki.svg");
  grid-row-start: 4;
  grid-column-start: 3;
  text-align: center;
}

.card-down--iconPiki {
  margin-left: 5px;
  margin-bottom: 4px;
  background: no-repeat;
  background-image: url("./img/small_Piki.svg");
  grid-row-start: 7;
  grid-column-start: 5;
}

.card-heder--iconCherv {
  grid-row-start: 2;
  grid-column-start: 1;
  background: no-repeat;
  background-image: url("./img/small_Cherv.svg");
  margin-left: 5px;
  margin-top: 4px;
}

.card-middle--iconCherv {
  width: 29px;
  height: 25px;
  background: no-repeat;
  background-image: url("./img/Union_Cherv.svg");
  grid-row-start: 4;
  grid-column-start: 3;
  text-align: center;
}

.card-down--iconCherv {
  margin-left: 5px;
  margin-bottom: 4px;
  background: no-repeat;
  background-image: url("./img/small_Cherv.svg");
  grid-row-start: 7;
  grid-column-start: 5;
}

.card-heder--iconKrest {
  grid-row-start: 2;
  grid-column-start: 1;
  background: no-repeat;
  background-image: url("./img/small_Krest.svg");
  margin-left: 5px;
  margin-top: 4px;
}

.card-middle--iconKrest {
  width: 29px;
  height: 25px;
  background: no-repeat;
  background-image: url("./img/Union_Krest.svg");
  grid-row-start: 4;
  grid-column-start: 3;
  text-align: center;
}

.card-down--iconKrest {
  margin-left: 5px;
  margin-bottom: 4px;
  background: no-repeat;
  background-image: url("./img/small_Krest.svg");
  grid-row-start: 7;
  grid-column-start: 5;
}/*# sourceMappingURL=style.css.map */